body {
  background-color: rgb(169, 35, 35);
  font: 400 1.5em/1.38 Georgia;
  color: rgb(0, 0, 0);
}

.container {
  width: 762px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid rgb(0, 0, 0);
}

.text {
  float: left;
}

._button {
  display: block;
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}

.container-1 {
  max-width: 726px;
  height: 260px;
  margin-top: 15px;
  background-color: rgb(169, 35, 35);
}

.container-2 {
  max-width: 762px;
  height: 692px;
  max-height: 692px;
  margin-top: 29px;
  background-image: url('../images/6117.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.text-1 {
  width: 99.8611111111%;
  margin: 18px 0 0 0.55556%;
  font-family: Arial;
  font-size: 2.167em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.text-2 {
  position: relative;
  clear: both;
  z-index: 2;
  width: 148px;
  max-width: 148px;
  min-height: 126px;
  margin: 11px 0 0 3.21615%;
  border-radius: 82px;
  background-image: url('../images/gandex.ru-21925_2ae34c10ae4d0a442ef2180b3b61131b.jpg');
  background-size: auto 192px;
  background-position: 50% 21%;
  font-size: 0.667em;
  color: rgb(0, 0, 0);
}

.text-3 {
  position: relative;
  z-index: 1;
  width: 71.6666666666%;
  min-height: 44px;
  margin-top: 28px;
  font-style: italic;
  font-size: 1.083em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-4 {
  width: 0.5249343832%;
  min-height: 78px;
  margin: 28px 0 0 1.5625%;
  background-color: rgb(169, 35, 35);
  font-size: 0.667em;
  color: rgb(169, 35, 35);
}

.container ._button-1 {
  float: left;
  z-index: 4;
  width: 20.997375328%;
  height: 75px;
  margin: 28px 0 0 1.43643%;
  padding: 5px 5px 70px;
  border-radius: 17px;
  background-color: rgb(169, 35, 35);
  font-size: 1em;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -o-transition: 0.5;
  -ms-transition: 0.5;
  transition: 0.5;
}

.container ._button-2 {
  float: left;
  z-index: 5;
  width: 19.68503937%;
  height: 62px;
  margin: 28px 0 0 1.95106%;
  padding: 5px 5px 70px;
  border-radius: 17px;
  background-color: rgb(169, 35, 35);
  font-size: 1em;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -o-transition: 0.5;
  -ms-transition: 0.5;
  transition: 0.5;
}

.container ._button-3 {
  float: left;
  z-index: 6;
  width: 19.68503937%;
  height: 62px;
  margin: 28px 0 0 6.28307%;
  padding: 5px 5px 70px;
  border-radius: 17px;
  background-color: rgb(169, 35, 35);
  font-size: 1em;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -o-transition: 0.5;
  -ms-transition: 0.5;
  transition: 0.5;
}

.container ._button-4 {
  float: left;
  z-index: 7;
  width: 19.68503937%;
  height: 62px;
  margin: 28px 0 0 2.48843%;
  padding: 5px 5px 70px;
  border-radius: 17px;
  background-color: rgb(169, 35, 35);
  font-size: 1em;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -o-transition: 0.5;
  -ms-transition: 0.5;
  transition: 0.5;
}

.container ._button-1:hover,
.container ._button-2:hover,
.container ._button-3:hover,
.container ._button-4:hover {
  border: 4px solid rgb(230, 230, 230);
}

.container ._button-1:active,
.container ._button-2:active,
.container ._button-3:active,
.container ._button-4:active {
  border: 3px dotted rgb(255, 255, 255);
  background-color: rgb(255, 76, 76);
}

.container ._button-5 {
  float: left;
  clear: both;
  z-index: 13;
  width: 25.458829365%;
  height: 190px;
  margin: 18px 0 0 7.67196%;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-family: Helvetica;
  font-size: 0.667em;
}

.container ._button-6 {
  float: left;
  z-index: 12;
  width: 25.4593175853%;
  height: 190px;
  margin: 18px 0 0 33.97611%;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-family: Helvetica;
  font-size: 0.667em;
}

.container ._button-7 {
  float: left;
  clear: both;
  z-index: 10;
  width: 28.3464566929%;
  height: 91px;
  margin: 237px 0 0 3.51356%;
  border-radius: 52px;
  background-color: rgb(169, 35, 35);
  font-size: 1.625em;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -o-transition: 0.5;
  -ms-transition: 0.5;
  transition: 0.5;
}

.container ._button-8 {
  float: left;
  z-index: 11;
  width: 28.3464566929%;
  height: 91px;
  margin: 272px 0 0 3.30688%;
  border-radius: 52px;
  background-color: rgb(169, 35, 35);
  font-size: 1.625em;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -o-transition: 0.5;
  -ms-transition: 0.5;
  transition: 0.5;
}

.container ._button-9 {
  float: right;
  z-index: 9;
  width: 28.3464566929%;
  height: 91px;
  margin: 237px 5.72297% 0 0;
  border-radius: 52px;
  background-color: rgb(169, 35, 35);
  font-size: 1.625em;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -o-transition: 0.5;
  -ms-transition: 0.5;
  transition: 0.5;
}

.container ._button-7:hover,
.container ._button-8:hover,
.container ._button-9:hover {
  border: 3px solid rgb(255, 255, 255);
}

.container ._button-7:active,
.container ._button-8:active,
.container ._button-9:active {
  border: 6px dotted rgb(255, 255, 255);
}