body {
  background-color: rgb(169, 35, 35);
  font: 400 1.438em/1.38 Georgia;
  color: rgb(0, 0, 0);
}

.container .container {
  float: left;
  width: 96.484375%;
  height: 47px;
  margin: 9px 0 0 1.69271%;
}

.text {
  margin-right: auto;
  margin-left: auto;
  border-width: 3px;
  border-style: solid;
  background-color: rgb(169, 35, 35);
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-2 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  width: 30.2294197031%;
  height: 40px;
  border-radius: 3px;
  background-color: rgb(243, 83, 83);
  font-size: 1.174em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._button:hover {
  border: 3px solid rgb(255, 255, 255);
}

._button:active {
  border: 4px dashed rgb(255, 255, 255);
}

.container-1 {
  width: 768px;
  max-width: 768px;
  height: 764px;
  max-height: 764px;
  margin: 5px auto 0;
  background-image: url('../images/65978(3).jpg');
  background-size: cover;
  background-position: 89% 50%;
  background-attachment: fixed;
}

.text-1 {
  width: 80.5989583333%;
  min-height: 42px;
  margin-top: 68px;
  border-color: rgb(0, 0, 0);
  border-radius: 60px;
  font-size: 2.826em;
}

.text-2 {
  width: 42.3177083333%;
  min-height: 330px;
  margin-top: 26px;
  border-color: rgb(255, 255, 255);
  border-radius: 31px;
  font-size: 1em;
}

.container ._button-1 {
  margin-left: 1.0754%;
}

.container ._button-2 {
  margin-left: 3.63951%;
}

.container ._button-3 {
  margin-left: 3.78079%;
}